//REBOOT
html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: $font-base;
  color: $body;
  text-align: left;
  background-color: $bg;
}

a {
  text-decoration: none;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, p, pre {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


[tabindex="-1"]:focus {
  outline: 0 !important; }

//CONTAINERS
.container-fluid {
  display: block;
  max-width: 100% !important;
  box-sizing: border-box;
  padding: 0;
}
.container {
  max-width: $container-max !important;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
  padding: 0;
}

//DISPLAY
.hidden { display: none !important; }
.inline       { display: inline !important; }
.inline-block { display: inline-block !important; }
.block        { display: block !important; }
.table        { display: table !important; }
.table-row    { display: table-row !important; }
.table-cell   { display: table-cell !important; }
@media (max-width: $desktop-breakpoint) {
  .sm-hidden { display: none !important; }
  .sm-inline       { display: inline !important; }
  .sm-inline-block { display: inline-block !important; }
  .sm-block        { display: block !important; }
}
@media (min-width: $desktop-breakpoint) {
  .md-hidden { display: none !important; }
  .md-inline       { display: inline !important; }
  .md-inline-block { display: inline-block !important; }
  .md-block        { display: block !important; }
}

//FLEX
.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-inline {
  display: inline-flex !important;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.flex-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

@media (min-width: $desktop-breakpoint) {
  .md-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .md-flex-inline {
    display: inline-flex !important;
  }
  .md-flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  .md-flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
  .md-flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .md-flex-col-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
  }
  .md-flex-wrap {
    flex-wrap: wrap;
  }
  .md-flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .md-flex-no-wrap {
    flex-wrap: nowrap;
  }
}

.items-start {
  -webkit-box-align: start;
          align-items: flex-start;
}

.items-end {
  -webkit-box-align: end;
          align-items: flex-end;
}

.items-center {
  -webkit-box-align: center;
          align-items: center;
}

.items-baseline {
  -webkit-box-align: baseline;
          align-items: baseline;
}

.items-stretch {
  -webkit-box-align: stretch;
          align-items: stretch;
}

.self-auto {
  align-self: auto;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-stretch {
  align-self: stretch;
}

.justify-start {
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.content-center {
  align-content: center;
}

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.flex-1 {
  -webkit-box-flex: 1;
          flex: 1 1 0%;
}

.flex-auto {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
}

.flex-initial {
  -webkit-box-flex: 0;
          flex: 0 1 auto;
}

.flex-none {
  -webkit-box-flex: 0;
          flex: none;
}

.flex-grow-0 {
  -webkit-box-flex: 0;
          flex-grow: 0;
}

.flex-grow {
  flex-basis: 0;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink {
  flex-shrink: 1;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
          order: 2;
}

.order-3 {
  -webkit-box-ordinal-group: 4;
          order: 3;
}

.order-4 {
  -webkit-box-ordinal-group: 5;
          order: 4;
}

.order-5 {
  -webkit-box-ordinal-group: 6;
          order: 5;
}

.order-6 {
  -webkit-box-ordinal-group: 7;
          order: 6;
}

.order-7 {
  -webkit-box-ordinal-group: 8;
          order: 7;
}

.order-8 {
  -webkit-box-ordinal-group: 9;
          order: 8;
}

.order-9 {
  -webkit-box-ordinal-group: 10;
          order: 9;
}

.order-10 {
  -webkit-box-ordinal-group: 11;
          order: 10;
}

.order-11 {
  -webkit-box-ordinal-group: 12;
          order: 11;
}

.order-12 {
  -webkit-box-ordinal-group: 13;
          order: 12;
}

.order-first {
  -webkit-box-ordinal-group: -9998;
          order: -9999;
}

.order-last {
  -webkit-box-ordinal-group: 10000;
          order: 9999;
}

.order-none {
  -webkit-box-ordinal-group: 1;
          order: 0;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


//POSITION
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-auto {
  z-index: auto;
}

//POSITION

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.top-auto {
  top: auto;
}

.right-auto {
  right: auto;
}

.bottom-auto {
  bottom: auto;
}

.left-auto {
  left: auto;
}

//WIDTH
.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}
.w-half {
  width: 50%;
}
.w-third {
  width: 33.333%;
}
.w-fourth {
  width: 25%;
}
.w-screen {
  width: 100vw;
}

//HEIGHT
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.h-half {
  height: 50%;
}
.h-screen {
  height: 100vh;
}

//COLUMNS
.col {
  box-sizing: border-box;
  width: 100% !important;
  max-width: 100% !important;
  break-after: always;
}
.col-auto {
  flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: $desktop-breakpoint) {
  .col-md {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 100% !important;
  }
}

@for $row from 1 through $columns {
  .col-#{$row} {
    position: relative;
    box-sizing: border-box;
    position: relative;
    flex: 0 0 percentage($row / $columns);
    max-width: percentage($row / $columns) !important;
  }
  .offset-#{$row} {
    $num: $row / $columns;
    margin-left: if($num == 0, 0, percentage($num)) !important;
  }
}

@media (min-width: $desktop-breakpoint) {
  @for $row from 1 through $columns {
    .md-col-#{$row} {
      position: relative;
      box-sizing: border-box;
      flex: 0 0 percentage($row / $columns);
      max-width: percentage($row / $columns) !important;
    }
    .md-offset-#{$row} {
      $num: $row / $columns;
      margin-left: if($num == 0, 0, percentage($num)) !important;
    }
  }
}
