//TEXTS COLORS
.color-dark {
  color: $dark;
}

.color-light {
  color: $light;
}

.color-transparent {
  color: transparent;
}

.color-black {
  color: $black;
}

.color-white {
  color: $white;
}

//BACKGROUNDS
.bg-dark {
  background-color: $dark;
}

.bg-light {
  background-color: $light;
}

.bg-transparent {
  background-color: transparent;
}

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}
.bg-white-o {
  background-color: rgba($white, .2) !important;
}
//GOES ON TOP OF COLOR
.bg-gradient {
  background-image: linear-gradient(120deg, transparent 40%, rgba(#000000, .25) 100%);
}
.bg-gradient-circular {
  background-image: radial-gradient(transparent 50%, rgba(#000000, .28));
}

//BORDER COLORS
.border-dark {
  border-color: $dark;
}
.border-light {
  border-color: $light;
}
.border-transparent {
  border-color: transparent;
}
.border-black {
  border-color: #000;
}
.border-white {
  border-color: #fff;
}

//CIRCLES


.circle {
  display: inline-block;
  border-radius: 50%;
  min-width: 1rem;
  min-height: 1rem;
  vertical-align: middle;
  background-color: $primary;
  margin: .3rem;
  margin-top: 2px;
  margin-left: 0;
  border-style: solid;
  border-width: .3rem;
  border-color: lighten($primary, 50%);
  &.text-lg {
    min-width: 1.4rem;
    min-height: 1.4rem;
    border-width: .3rem;
  }
  &.text-xl {
    min-width: 1.6rem;
    min-height: 1.6rem;
    border-width: .4rem;
  }
  &.text-2x {
    min-width: 1.7rem;
    min-height: 1.7rem;
    border-width: .3rem;
  }
}



$colors: primary, secondary, light, dark, black, white, gray, blue, indigo, purple, red, green, teal, yellow, orange;
@each $name in $colors {
  $color: $primary;
  $lighten400: 5%; $lighten300: 10%; $lighten200: 18%; $lighten100: 25%; 
  @if $name == secondary { $color: $secondary;
  } @else if $name == light {
    $color: $light;
    $lighten400: 1%; $lighten300: 2%; $lighten200: 3%; $lighten100: 4%; 
  } @else if $name == dark { $color: $dark;
  } @else if $name == black { $color: #000000;
  } @else if $name == white { $color: #ffffff;
  } @else if $name == gray { $color: $gray;
  } @else if $name == blue { $color: $blue;
  } @else if $name == indigo { $color: $indigo;
  } @else if $name == purple { $color: $purple;
  } @else if $name == red { $color: $red;
  } @else if $name == green { $color: $green;
  } @else if $name == teal { $color: $teal;
  } @else if $name == yellow { $color: $yellow;
  } @else if $name == orange { $color: $orange;
  }
  .color-#{$name} {
    color: $color !important;
  }

  .color-#{$name}-100 {
    color: lighten($color, $lighten100) !important;
  }
  .color-#{$name}-200 {
    color: lighten($color, $lighten200) !important;
  }
  .color-#{$name}-300 {
    color: lighten($color, $lighten300) !important;
  }
  .color-#{$name}-400 {
    color: lighten($color, $lighten400) !important; //#{$lighten400+'%'}
  }
  .color-#{$name}-500 {
    color: $color !important;
  }
  .color-#{$name}-600 {
    color: darken($color, 5%) !important;
  }
  .color-#{$name}-700 {
    color: darken($color, 10%) !important;
  }
  .color-#{$name}-800 {
    color: darken($color, 15%) !important;
  }
  .color-#{$name}-900 {
    color: darken($color, 30%) !important;
  }
  .hover-color-#{$name} {
    &:hover {
      color: $color !important;
    }
  }
  .color-#{$name}-o {
    color: rgba($color, .3);
  }
  .bg-#{$name} {
    background-color: $color !important;
  }
  .bg-#{$name}-100 {
    background-color: lighten($color, $lighten100) !important;
  }
  .bg-#{$name}-200 {
    background-color: lighten($color, $lighten200) !important;
  }
  .bg-#{$name}-300 {
    background-color: lighten($color, $lighten300) !important;
  }
  .bg-#{$name}-400 {
    background-color: lighten($color, $lighten400) !important;
  }
  .bg-#{$name}-500 {
    background-color: $color !important;
  }
  .bg-#{$name}-600 {
    background-color: darken($color, 5%) !important;
  }
  .bg-#{$name}-700 {
    background-color: darken($color, 10%) !important;
  }
  .bg-#{$name}-800 {
    background-color: darken($color, 15%) !important;
  }
  .bg-#{$name}-900 {
    background-color: darken($color, 30%) !important;
  }
  .hover-bg-#{$name} {
    &:hover {
      background-color: $color !important;
    }
  }
  .bg-#{$name}-o {
    background-color: rgba($color, .5);
  }
  .border-#{$name} {
    border-color: $color;
  }
  .border-#{$name}-100 {
    border-color: lighten($color, 25%);
  }
  .border-#{$name}-200 {
    border-color: lighten($color, 18%);
  }
  .border-#{$name}-300 {
    border-color: lighten($color, 10%);
  }
  .border-#{$name}-400 {
    border-color: lighten($color, 5%);
  }
  .border-#{$name}-500 {
    border-color: $color;
  }
  .border-#{$name}-600 {
    border-color: darken($color, 5%);
  }
  .border-#{$name}-700 {
    border-color: darken($color, 10%);
  }
  .border-#{$name}-800 {
    border-color: darken($color, 15%);
  }
  .border-#{$name}-900 {
    border-color: darken($color, 30%);
  }
  .shadow-#{$name} {
    //horizontal vertical blur spread
    box-shadow: 0px 8px 25px -5px rgba($color, 0.6);
  }
  .hover-bg-#{$name} {
    &:hover {
      background-color: $color !important;
    }
  }
  .shadow-#{$name}-full {
    box-shadow: 0px 6px 28px 0px rgba($color, 0.2);
  }
  .hover-shadow-#{$name} {
    &:hover {
      box-shadow: 0px 8px 25px -5px rgba($color, 0.6);
    }
  }
  .hover-shadow-#{$name}-full {
    &:hover {
      box-shadow: 0px 6px 28px 0px rgba($color, 0.2);
    }
  }
  .circle-#{$name} {
    background-color: $color;
    border-color: lighten($color, 50%);
  }
  
}
@media (min-width: $desktop-breakpoint) {
  @each $name in $colors {
    $color: $primary;
    @if $name == secondary { $color: $secondary;
    } @else if $name == light { $color: $light;
    } @else if $name == dark { $color: $dark;
    } @else if $name == black { $color: #000000;
    } @else if $name == white { $color: #ffffff;
    } @else if $name == gray { $color: $gray;
    } @else if $name == blue { $color: $blue;
    } @else if $name == indigo { $color: $indigo;
    } @else if $name == purple { $color: $purple;
    } @else if $name == red { $color: $red;
    } @else if $name == green { $color: $green;
    } @else if $name == teal { $color: $teal;
    } @else if $name == yellow { $color: $yellow;
    } @else if $name == orange { $color: $orange;
    }
    .md-color-#{$name} {
      color: $color;
    }
    .md-color-#{$name}-100 {
      color: lighten($color, 25%);
    }
    .md-color-#{$name}-200 {
      color: lighten($color, 18%);
    }
    .md-color-#{$name}-300 {
      color: lighten($color, 10%);
    }
    .md-color-#{$name}-400 {
      color: lighten($color, 5%);
    }
    .md-color-#{$name}-500 {
      color: $color;
    }
    .md-color-#{$name}-600 {
      color: darken($color, 5%);
    }
    .md-color-#{$name}-700 {
      color: darken($color, 10%);
    }
    .md-text-#{$name}-800 {
      color: darken($color, 15%);
    }
    .md-color-#{$name}-900 {
      color: darken($color, 30%);
    }
    .md-hover-color-#{$name} {
      &:hover {
        color: $color !important;
      }
    }
    .md-bg-#{$name} {
      background-color: $color;
    }
    .md-bg-#{$name}-100 {
      background-color: lighten($color, 25%);
    }
    .md-bg-#{$name}-200 {
      background-color: lighten($color, 18%);
    }
    .md-bg-#{$name}-300 {
      background-color: lighten($color, 10%);
    }
    .md-bg-#{$name}-400 {
      background-color: lighten($color, 5%);
    }
    .md-bg-#{$name}-500 {
      background-color: $color;
    }
    .md-bg-#{$name}-600 {
      background-color: darken($color, 5%);
    }
    .md-bg-#{$name}-700 {
      background-color: darken($color, 10%);
    }
    .md-bg-#{$name}-800 {
      background-color: darken($color, 15%);
    }
    .md-bg-#{$name}-900 {
      background-color: darken($color, 30%);
    }
    .md-hover-bg-#{$name} {
      &:hover {
        background-color: $color !important;
      }
    }
  }
}



.hover-bg-noimage {
  &:hover {
    background-image: none;
  }
}
.hover-bg-nocolor {
  &:hover {
    background-color: transparent;
  }
}
@each $name in $colors {
  $color: $primary;
  @if $name == secondary { $color: $secondary;
  } @else if $name == light { $color: $light;
  } @else if $name == dark { $color: $dark;
  } @else if $name == black { $color: #000000;
  } @else if $name == white { $color: #ffffff;
  } @else if $name == gray { $color: $gray;
  } @else if $name == blue { $color: $blue;
  } @else if $name == indigo { $color: $indigo;
  } @else if $name == purple { $color: $purple;
  } @else if $name == red { $color: $red;
  } @else if $name == green { $color: $green;
  } @else if $name == teal { $color: $teal;
  } @else if $name == yellow { $color: $yellow;
  } @else if $name == orange { $color: $orange;
  }
  
  .bg-gradient-#{$name} {
    background-color: $color;
    background-image: linear-gradient(120deg, $color 40%, darken($color, 15%) 100%);
  }
  .bg-gradient-#{$name}-90 {
    background-color: $color;
    background-image: linear-gradient(90deg, $color 40%, darken($color, 15%) 100%);
  }
  .bg-gradient-#{$name}-180 {
    background-color: $color;
    background-image: linear-gradient(180deg, $color 40%, darken($color, 15%) 100%);
  }
  .bg-gradient-#{$name}-270 {
    background-color: $color;
    background-image: linear-gradient(270deg, $color 40%, darken($color, 15%) 100%);
  }
  .bg-gradient-#{$name}-circular {
    background-color: $color;
    background-image: radial-gradient($color, darken($color, 15%));
  }
    .bg-gradient-#{$name}-transparent {
      background-color: transparent;
      background-image: linear-gradient(180deg, $color 40%, rgba($color, 0%) 100%);
    }
		.bg-gradient-transparent-#{$name} {
      background-color: transparent;
      background-image: linear-gradient(180deg, rgba($color, 0%) 40%, $color 100%);
    }

  //DUAL COLORS
@each $name2 in $colors {
  $color2: $primary;
  @if $name2 == secondary { $color2: $secondary;
  } @else if $name2 == light { $color2: $light;
  } @else if $name2 == dark { $color2: $dark;
  } @else if $name2 == black { $color2: #000000;
  } @else if $name2 == white { $color2: #ffffff;
  } @else if $name2 == gray { $color2: $gray;
  } @else if $name2 == blue { $color2: $blue;
  } @else if $name2 == indigo { $color2: $indigo;
  } @else if $name2 == purple { $color2: $purple;
  } @else if $name2 == red { $color2: $red;
  } @else if $name2 == green { $color2: $green;
  } @else if $name2 == teal { $color2: $teal;
  } @else if $name2 == yellow { $color2: $yellow;
  } @else if $name2 == orange { $color2: $orange;
  }
  @if $name != $name2 {
    .bg-gradient-#{$name}-#{$name2} {
      background-color: $color;
      background-image: linear-gradient(120deg, $color 40%, $color2 100%);
    }
    .bg-gradient-#{$name}-#{$name2}-90 {
      background-color: $color;
      background-image: linear-gradient(90deg, $color 40%, $color2 100%);
    }
    .bg-gradient-#{$name}-#{$name2}-180 {
      background-color: $color;
      background-image: linear-gradient(180deg, $color 40%, $color2 100%);
    }
    .bg-gradient-#{$name}-#{$name2}-270 {
      background-color: $color;
      background-image: linear-gradient(270deg, $color 40%, $color2 100%);
    }
    .bg-gradient-#{$name}-#{$name2}-circular {
      background-color: $color;
      background-image: radial-gradient($color, $color2);
    }
  }
}

  .overlay-gradient-#{$name} {
    &:after {
      display: block;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
      background-color: rgba($color, .4);
      background-image: linear-gradient(120deg, rgba($color, .4) 30%, rgba($color, .2) 100%);
    }
  }

  .overlay-#{$name} {
    &:after {
      display: block;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
      background-color: rgba($color, .4);
    }
  }

  .hover-overlay-#{$name} {
    &:hover {
      &:after {
        display: block;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        background-color: rgba($color, .4);
      }
    }
  }
}


//SOCIAL
$facebook: #3b57a1;
$twitter: #4aa0eb;
$google: #D93D2C;
$whatsapp: #35B83F;
.facebook {
    color: $facebook;
}
.bg-facebook {
    background-color: $facebook;
    &:hover {
        background-color: lighten($facebook, 10%)
    }
}
.twitter {
    color: $twitter;
}
.bg-twitter {
    background-color: $twitter;
    &:hover {
        background-color: lighten($twitter, 10%)
    }
}
.google {
    color: $google;
}
.bg-google {
    background-color: $google;
    &:hover {
        background-color: lighten($google, 10%)
    }
}
.whatsapp {
    color: $whatsapp;
}
.bg-whatsapp {
    background-color: $whatsapp;
    &:hover {
        background-color: lighten($whatsapp, 10%)
    }
}


//FILTERS
.filter-none {
  filter: none;
}
.hover-filter-none {
  &:hover {
    filter: none;
  }
}
.filter-grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(100%);
  }
}
.filter-blur {
  filter: blur(3px);
  &:hover {
    filter: blur(3px);
  }
}
.filter-contrast {
  filter:contrast(200%);
  &:hover {
    filter:contrast(200%);
  }
}
.filter-saturate {
  filter:saturate(8);
  &:hover {
    filter:saturate(8);
  }
}
.filter-sepia {
  filter:sepia(100%);
  &:hover {
    filter:sepia(100%);
  }
}
.hover-filter-grayscale {
  &:hover {
    filter: grayscale(100%);
  }
}
.hover-filter-blur {
  &:hover {
    filter: blur(4px);
  }
}
.hover-filter-contrast {
  &:hover {
    filter:contrast(200%);
  }
}
.hover-filter-saturate {
  &:hover {
    filter:saturate(8);
  }
}
.hover-filter-sepia {
  &:hover {
    filter:sepia(100%);
  }
}

//BLEND MODES
.blend-normal {mix-blend-mode: normal;}
.blend-multiply {mix-blend-mode: multiply;}
.blend-screen {mix-blend-mode: screen;}
.blend-overlay {mix-blend-mode: overlay;}
.blend-darken {mix-blend-mode: darken;}
.blend-lighten {mix-blend-mode: lighten;}
.blend-color-dodge {mix-blend-mode: color-dodge;}
.blend-color-burn {mix-blend-mode: color-burn;}
.blend-difference {mix-blend-mode: difference;}
.blend-exclusion {mix-blend-mode: exclusion;}
.blend-hue {mix-blend-mode: hue;}
.blend-saturation {mix-blend-mode: saturation;}
.blend-color {mix-blend-mode: color;}
.blend-luminosity {mix-blend-mode: luminosity;}

.bg-blend-normal {background-blend-mode: normal;}
.bg-blend-multiply {background-blend-mode: multiply;}
.bg-blend-screen {background-blend-mode: screen;}
.bg-blend-overlay {background-blend-mode: overlay;}
.bg-blend-darken {background-blend-mode: darken;}
.bg-blend-lighten {background-blend-mode: lighten;}
.bg-blend-color-dodge {background-blend-mode: color-dodge;}
.bg-blend-color-burn {background-blend-mode: color-burn;}
.bg-blend-difference {background-blend-mode: difference;}
.bg-blend-exclusion {background-blend-mode: exclusion;}
.bg-blend-hue {background-blend-mode: hue;}
.bg-blend-saturation {background-blend-mode: saturation;}
.bg-blend-color {background-blend-mode: color;}
.bg-blend-luminosity {background-blend-mode: luminosity;}

.bg-diagonal {
  display: block;
  width: 100%;
  height: 60px;
  margin-top: -60px;
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.bg-diagonal-inverse {
  display: block;
  width: 100%;
  height: 60px;
  margin-top: -60px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}