//BASIC

.dropdown-toggle {
  outline: none !important;
  &::after {
    display:none
  }
}


.dropdown-menu {
  position: absolute;
  display: block; //none
  border: none;
  border-radius: $dropdown-radius * 1.1;
  padding: 4px 6px;
  background-color: white;
  box-shadow: rgba($primary, 0.1) 0px 5px 30px 0px;
  top: $dropdown-top !important;
  min-width: 11rem;
  text-align: left;
  left: 0;

  .dropdown-item {
    display: block;
    width: 100%;
    font-size: $dropdown-font-size;
    font-weight: light;
    line-height: 1.1;
    color: $body;
    text-transform: capitalize;
    clear: both;
    border-radius: $dropdown-radius * 1.1;
    margin: 2px 0;
    padding: .4rem 1rem;
    &:hover {
      background-color: $light;
    }
    &:active {
      color: $light;
      background-color: $primary;
    }
  }
  &::before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFFFFF;
    position: absolute;
    top: -9px;
    left: 15px;
  }
}


.dropdown-center {
  &::before {
    content: "";
    right: calc(50% - 15px);
  }
}
.dropdown-right {
  margin-right: -2px !important;
  right: 0;
  left: auto;
  &::before {
    content: "";
    right: 15px;
  }
}