@import 'forms/form-basic';
@import 'forms/form-invisible';
@import 'forms/form-clean';
@import 'forms/form-muted';
@import 'forms/form-inner';
@import 'forms/select';
@import 'forms/checkbox';


.form-inline {
  display: inline-flex;
  margin-right: 1rem;
}


.form-lg {
  input, textarea, select {
    //padding: 1rem 10px .6rem 15px;
    font-size: 1.3rem !important;
  }
  label {
    font-size: 110%;
  }
}

.form-sm {
  input, textarea, select {
    //padding: 1rem 10px .6rem 15px;
    font-size: .85rem !important;
  }
  label {
    font-size: 70%;
  }
}


.big-search {
  position: relative;
  width: 100%;
  max-width: 600px;
  input {
    font-size: 18px;
    padding: 14px;
    width: 100%;
    outline: none;
    color: $dark;
    border: none;
    border-radius: $btn-radius;
    &::-webkit-search-cancel-button {
      display: none;
    }
  }
  i {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    color: $gray;
    border: 0;
    opacity: 0.6;
    font-size: 2em;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
  }
  i:hover {
    opacity: 1
  }

  &.typeahead {
    input {
      &::-webkit-search-cancel-button {
        display: block;
      }
      &:not(:placeholder-shown) + i {
        display: none;
      }
    }
  }
}