

.modal-vue {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: opacity 1s linear;
  .modal-backdrop {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .modal-dialog {
      position: absolute;
      transform: none;
      margin-top: -1rem;
      min-width: 350px !important;
      z-index: 1;
      &.modal-right {
          top: 0;
          bottom: 0;
          right: 0;
          margin: 0;
          max-height: 100% !important;
      }
      @media(max-width: map-get($grid-breakpoints, "md")) {
        min-width: 90% !important;
        margin: 0px !important;
      }
  }
  .modal-content {
      z-index: 2;
      border-radius: 0px;
      height: 100% !important;
      max-height: 100% !important;
      background-color: white;
      .modal-header {
        border-radius: 0px;
        padding: 16px 20px 6px 25px;
        border: none;
        .modal-header-icon {
          display: block;
          height: 100%;
          font-size: 1.9rem;
          line-height: 1.2;
          margin-left: -12px;
          padding-right: 6px;
        }
        h5 {
          text-align: left;
          width: auto;
          font-size: 1.9rem;
          line-height: 1.2;
          span {
            font-weight: normal;
            display: block;
            font-size: 1rem;
            opacity: .7;
          }
        }
        .close {
          padding-bottom: .3rem;
          cursor: pointer;
          text-shadow: none;
          line-height: 1.9;
          font-size: 1.3rem;
          color: $gray-700;
        }
        &.modal-header-inverted {
          background-color: $primary;
          padding-bottom: 13px;
          .modal-header-icon {
            color: white;
          }
          h5 {
            color: white;
          }
          .close {
            color: $light;
            text-shadow: none;
          }
        }
      }
      .modal-body {
          padding: 12px 24px 12px 25px;
          text-align: left;
      }
      .modal-footer {
          border: none;
      }
  }
}

.body-fix {
    overflow: hidden;
}

.modal-right_ {
  justify-content: end;
  align-items: left;
}