
//GRID
$desktop-breakpoint: 768px !default;
$container: 1300px !default;
$container-max: 1860px !default;
$columns: 24 !default;

//BOOTSTRAP
$grid-columns: $columns !default;
$grid-gutter-width: 0px !default;
//$line-height-base: 1.2 !default;
$container-max-widths: (
  sm: 540px,
  md: $desktop-breakpoint,
  lg: 1000,
  xl: $container
) !default;

//TYPE
$font-family: "Metropolis" !default;
$font-base: 16px !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 700 !default;
$h1-size: 2.6rem !default;
$h2-size: 2.2rem !default;
$h3-size: 1.9rem !default;
$h4-size: 1.6rem !default;

//COLORS
$primary: #301680;
$secondary: #244260;
$dark: #151d2e;//#1e2229;#314164;
$light: #edf2f8;
$gray: #A0AEC0;
$blue: #4299E1;
$indigo: #667EEA;
$purple: #9F7AEA;
$green: #1da139;
$teal: #38B2AC;
$red: #ff2400;
$yellow: #ffeb04;
$orange: #ff8800;
$black: #010102;
$white: #ffffff;
$body: $dark;
$bg: white;

//BUTTONS
$btn-padding-y: .6rem !default;
$btn-padding-x: 1.3rem !default;
$btn-radius: .2rem !default;

//FORMS
$form-bg: #ffffff !default;
$form-text: $body !default;
$form-light: lighten($body, 22%) !default;
$form-border: 1px solid lighten($form-text, 30%) !default;
$input-border-radius: $btn-radius !default;
//$form-label: ;
$form-placeholder-color: $gray;
$form-border: 1px solid $gray;

//BACKEND
$backend-breakpoint: 1168px !default;
$backend-bg: #f4f6f8 !default;
$backend-aside-links: #dae9f5 !default;
$backend-aside-links-hover: $primary !default;