@import 'scss/variables';

body {
  background-color: $backend-bg;
}

.container {
  max-width: 100% !important;
  padding-left: 2rem;
  padding-right: 2rem;
  @media (max-width: $desktop-breakpoint) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}



//SIDEBAR
aside.sidebar {
  position: fixed;
  z-index: 9;
  width: 230px;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, $primary, darken($primary, 20%));
  padding: 20px 0px;
  .logo {
    width: 100%;
    text-align: center;
    img {
      width: 100%;
      max-width: 90%;
      max-height: 100px;
    }
  }
  hr { 
    border: 0; 
    height: 1px;
    background-color: rgba($light, .3); 
  }
  .sidebar-panel {
    margin-top: 8px;
    padding: 10px 15px;
    background: darken($primary, 10%);
    color: rgba($light, .8);
    font-weight: bold;
    line-height: 1.15;
    span {
      display: block;
      font-size: 85%;
      color: $gray;
      font-weight: lighter;
    }
  }
  .sidebar-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px;
    overflow-y: scroll !important;
    padding-bottom: 30px;
  }
  .sidebar-nav {
    margin-top: 15px;
    font-size: 13px;
    list-style: none;
    line-height: 36px;
    width: 100%;
    padding-left: 0px;
    li {
      i {
        width: 27px;
        padding-right: 10px;
      }
    }
    a {
      position: relative;
      padding-left: 20px;
      color: $backend-aside-links !important;
      font-size: 15px;
      font-weight: normal;
      display: block;
      text-decoration: none;
      width: 100%; 
    }
    a:hover {
      background: $primary;
    }
    .active {
      cursor: default;
      color: lighten($primary, 30%) !important;
      background: transparent !important;
    }
  }
  h5 {
    text-transform: uppercase;
    color: #677694;
    padding: 20px 0px 2px 14px !important;
    font-size: .8rem;
    line-height: 1;
    letter-spacing: .06rem;
  }
  //mobile version
  @media (max-width: $desktop-breakpoint) {
		transition: all .25s ease-out;
		left: -230px;
    &.active {
      left: 0px !important;
    }
    .logo {
      display: none;
    }
  }
}

//SEARCH AVATAR BOX
.topnav {
  display: inline-flex !important;
  position: absolute;
  z-index: 999;
  right: 15px; top: 10px;
  text-align: right;
  background: $light;
  padding: 5px 6px;
  border-radius: 25px !important;
  .sidemenu_toggler {
    display: none;
    width: 40px;
    height: 40px;
    background: white;
    margin-right: 6px;
    text-align: center;
    cursor: pointer;
    border-radius: 25px !important;
    i {
      margin-top: 12.5px;
      margin-left: 1.5px;
      color: $gray;
    }
  }
  @media (max-width: $desktop-breakpoint) {
    .sidemenu_toggler {
      display: block;
    }
  }
  
  .search {
    outline: none !important;
    border: none;
    width: 40px;
    height: 40px;
    margin-right: 6px;
    background-color: white !important;
    transition: all .35s ease-in-out;
    color: white;
    border-radius: 25px !important;
    padding: .375rem .7rem;
    text-align: left;
    &::placeholder {
      color: white;
    }
    &:focus {
      width: 180px;
      color: $gray;
      padding-left: 35px;
      &::placeholder {
        color: $gray;
      }
    }
  }

  &::before {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    top: 12px;
    left: 17px;
    font-family: "Font Awesome 5 Pro";
    content: '\f002';
    color: $gray !important;
  }

  .search-spinner {
    display: none;
    &.spinner {
      display: block;
      position: absolute;
      z-index: 999999;
      top: 16px;
      left: 163px;
      color: $gray;
    }
  }
}


.dropdown-user {
  outline: none !important; 
  .dropdown-toggle {
    cursor: pointer;
    position: relative;
    img {
      border-radius: 25px !important;
      width: 40px;
      height: 40px;
    }
  }
  .dropdown-toggle::after {
    display:none
  }
  .dropdown-menu {
    position: absolute;
    display: block; //none
    border: none;
    border-radius: $btn-radius * 1.1;
    padding: 4px 6px;
    background-color: white;
    box-shadow: rgba($primary, 0.1) 0px 5px 20px 0px;
    margin-right: -2px !important;
    top: 40px !important;
    min-width: 11rem;
    text-align: left;
    right: 0;
    left: auto;
    .dropdown-item {
      display: block;
      width: 100%;
      font-size: .95rem;
      font-weight: light;
      line-height: 1.1;
      color: $body;
      text-transform: capitalize;
      clear: both;
      border-radius: $btn-radius * 1.1;
      margin: 2px 0;
      padding: .4rem 1rem;
      &:hover {
        background-color: $light;
      }
      &:active {
        color: $light;
        background-color: $primary;
      }
    }
    &::before {
      content: "";
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #FFFFFF;
      position: absolute;
      top: -9px;
      right: 15px;
    }
  }
}


main {
  position: relative;
  width: auto;
  max-width: 100%;
  min-height: 100% !important;
  flex-basis: 0;
  flex-grow: 1;
  
	margin-left: 230px;
	overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;

  header {
    padding: 1.5rem 2rem 2rem 2rem;
    align-items: baseline;
    h1 {
      display: block;
      width: 100%;
      font-size: 3.2rem;
      line-height: 1.1;
      letter-spacing: -1.2px;
      .btn {
        margin-top: -.4rem;
        padding: 0.25rem 0.5rem;
        font-size: 1.2rem;
        vertical-align: middle;
      }
    }
  }

  @media (max-width: $desktop-breakpoint) {
    margin-left: 0px;
    header {
      text-align: center;
      padding: 1.5rem 1rem;
      h1 {
        padding-top: 50px;
        font-size: 2.5rem;
      }
    }
  }
}


//PAGE STYLES
.breadcrumbs {
  background-color: transparent;
  font-size: .7em;
  margin-bottom: 5px;
  padding-left: 0px;
  a {
    color: $light;
  }
}


.footer {
  margin-left: 1rem !important;
  margin-top: 20px;
  font-size: .8rem;
  opacity: .5;
}