
//GRID
$desktop-breakpoint: 768px !default;
$container-max: 1300px !default;
$columns: 24 !default;

//TYPE
$font-family: "Metropolis" !default;
$font-base: 16px !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-black: 700 !default;

//COLORS
$primary: #3a478f;
$secondary: #244260;
$dark: #1e2229;
$light: #f1f1f3;
$gray: #A0AEC0;
$blue: #4299E1;
$indigo: #667EEA;
$purple: #9F7AEA;
$green: #38B2AC;
$red: #E53E3E;
$yellow: #ECC94B;
$orange: #ed8936;
$body: $dark;
$bg: white;

//BUTTONS
$btn-padding-y: .7rem;
$btn-padding-x: 1.3rem;
$btn-radius: 3rem;