.badge {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 65%;
  font-weight: $font-weight-normal;
  line-height: inherit;
  padding: ($btn-padding-y * .4) ($btn-padding-x * .4);
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: $btn-radius;
  color: $body;
  background: $light;
  margin-top: -.15rem;
  &:hover {
  }
}

.badge-xs {
  font-size: 55%;
  padding: ($btn-padding-y * .1) ($btn-padding-x * .2);
}

.badge-sm {
  font-size: 60%;
  padding: ($btn-padding-y * .3) ($btn-padding-x * .35);
}

.badge-lg {
  margin-top: -.5%;
  font-size: 90%;
  //padding: ($btn-padding-y *.6) ($btn-padding-x * .7);
}

.badge-xl {
  margin-top: -.5%;
  font-size: 100%;
  padding: ($btn-padding-y *.3) ($btn-padding-x * .6);
}

.badge-primary {
  color: $light;
  border-color: $primary;
  background-color: $primary;
}

.badge-dark {
  color: $light;
  background-color: $dark;
}

.badge-light {
  color: $dark;
  background-color: $light;
}

.badge-red {
  color: $white;
  background-color: $red;
}
