//@at-root





//INNER







//SELECTS
.form-select-btn {
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  font-weight: $font-weight-bold;
  color: #9AA2B5 !important;
  background-color: $light;
  line-height: 1;
  padding: .8em 1.3em .8em 1.2em;
  box-sizing: border-box;
  margin: 0;
  border: none;
  border-radius: 8px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
  &:focus {
    overflow: none;
    outline: none !important;
    font-weight: $font-weight-normal;
  }
  &:not(:focus){
    font-weight: $font-weight-bold;

  }
  &* {
    font-weight: $font-weight-normal;
  }
  &>option{
    font-weight: $font-weight-normal;
  }
  &option:checked {
  }
  &option {
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    padding: 20px;
  }
}